body {
    background-color: #f8f8f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.countdown-container {
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.black-text {
    color: black;
}

.red-text {
    color: red;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bloc-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.figure {
    font-size: 50px;
    font-weight: bold;
    color: red;
    background: white;
    display: inline-block;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
