body {
    background-color: #f8d7da; /* Пастельний рожевий */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.countdown-container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.black-text {
    color: black;
}

.red-text {
    color: red;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bloc-time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 16px;
    font-family: "Dancing Script", cursive; /* Гарний рукописний шрифт */
    font-weight: bold;
    margin-bottom: 5px;
    color: #9b1c31; /* Темно-червоний */
}

.figure {
    font-size: 50px;
    font-weight: bold;
    color: white;
    background: #b71c1c; /* Темно-червоний фон */
    display: inline-block;
    padding: 10px 15px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
