/* Фон */
body {
    background-color: #ffd1dc; /* Пастельний рожевий */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Заголовок */
.title {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

.title span {
    color: red;
}

/* Контейнер таймера */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Блоки часу */
.time-box {
    text-align: center;
}

/* Підпис під блоками */
.label {
    font-size: 20px;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
}

/* Самі цифри */
.time {
    font-size: 50px;
    font-weight: bold;
    color: red;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
